@using (Ajax.BeginForm("Input", "Developer", new AjaxOptions { UpdateTargetId = "Table" }, new { @class = "col-12 container" }))
{
    <div class="mb-3 col-12">
        <label for="NameInput" class="form-label col-6">Name</label>
        <input type="text" class="form-control col-6" id="NameInput">
    </div>
}

