@{
    ViewBag.Title = "Підтвердження пошти";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Дякуємо за підтвердження пошти. @Html.ActionLink("Натисніть тут для авторизації", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
